<div class="card">
  <%= link_to notification.actor.names, main_app.user_path(notification.actor) %> has commented in
  
  <%= link_to notification.second_target.title, main_app.user_path(notification.second_target) %>
 
</div>
<div class="media-content">
  <%= notification.target.content %>
</div>