<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>HealthEdu</title>

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/jpg" href="assets/logoo.jpg">

        <!-- Custom CSS -->
        <link href="assets/styles.css" rel="stylesheet">
		<!-- Custom Color Option -->
		<link href="./assets/colors.css" rel="stylesheet">
		<link href="./assets/animation.css" rel="stylesheet">
		<link href="./assets/bootstrap.min.css" rel="stylesheet">
		<link href="./assets/date-picker.css" rel="stylesheet">
		<link href="./assets/dropzone.css" rel="stylesheet">
		<link href="./assets/flaticon.css" rel="stylesheet">
		<link href="./assets/font-awesome.css" rel="stylesheet">
		<link href="./assets/iconfont.css" rel="stylesheet">
		<link href="./assets/ion.rangeSlider.min.css" rel="stylesheet">
		<link href="./assets/light-box.css" rel="stylesheet">
		<link href="./assets/line-icons.css" rel="stylesheet">
		<link href="./assets/magnifypopup.css" rel="stylesheet">
		<link href="./assets/morris.css" rel="stylesheet">
		<link href="./assets/select2.css" rel="stylesheet">
		<link href="./assets/slick.css" rel="stylesheet">
		<link href="./assets/slick-theme.css" rel="stylesheet">
		<link href="./assets/themify.css" rel="stylesheet">
    </head>

    <body class="red-skin">
<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ Page Title Start================================== -->
			<section class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">

							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title">Who We are?</h1>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="#">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">About Us</li>
									</ol>
								</nav>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->

			<!-- ========================== About Facts List Section =============================== -->
			<section class="pt-0">
				<div class="container">

					<div class="row align-items-center">

						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="list_facts_wrap">
								<div class="sec-heading mb-3">
									<h2>CHIEF EXECUTIVE OFFICER & FOUNDER</h2>
								</div>
								<p>Jean Damascene BIGIRIMANA is a passionate healthcare provider with
									Bachelor’s Degree in Physical Therapy, He is a public Health Practitioner
									(Current Program) and is a researcher with interest in Information communication
									and technology. He started an Entrepreneur life in 2011 when he created GDA Sabri
									Entreprise and 2013 when he created Pamelise Ltd, and HealthEdu in 2017.</p>
								<p>He has undergone through different incubation programmes: Acts of gratitudes, 250Startups and Westerwelle startup haus.</p>
								<div class="sec-heading mb-3">
									<h4>Our Services</h4>
								</div>
								<div class="list_facts">
									<div class="list_facts_icons"><i class="fa fa-camera-retro" aria-hidden="true"></i></div>
									<div class="list_facts_caption">
										<h4>Offsite CPD</h4>
										<p>Courses organized in the applicant’s organized venue</p>
									</div>
								</div>
								<div class="list_facts">
									<div class="list_facts_icons"><i class="fa fa-camera-retro"></i></div>
									<div class="list_facts_caption">
										<h4>Offsite CPD .</h4>
										<p>Courses organized in our trainings locations,</p>
									</div>
								</div>
								<div class="list_facts">
									<div class="list_facts_icons"><i class="fa fa-desktop"></i></div>
									<div class="list_facts_caption">
										<h4>Online CPD</h4>
										<p> Courses organized on this platform.</p>
									</div>
								</div>

							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="list_facts_wrap_img">

                <img src="/assets/bosi.jpg" class="img-fluid img-rounded" alt="" />

							</div>
						</div>

					</div>

				</div>
			</section>
			<!-- ========================== About Facts List Section =============================== -->

			<!-- ============================ Featured Instructor Start ================================== -->
			<section class="bg-light">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-5 col-md-6 col-sm-12">
							<div class="sec-heading center">
								<p>Meet Our Team</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">

							<div class="four_slide-dots articles arrow_middle">

								<!-- Single Slide -->
								<div class="singles_items">
									<div class="instructor_wrap">
										<div class="instructor_thumb">
											<a href="#"><img src="/assets/agnes.jpg" class="img-fluid" alt=""></a>
										</div>
										<div class="instructor_caption">
											<h4><a href="#">Agnes</a></h4>
											<span>Chief Operations Officer</span>
											<ul>
                        <li><a href="#" class="cl-fb"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" class="cl-twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="cl-linked"><i class="fab fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

								<!-- Single Slide -->
								<div class="singles_items">
									<div class="instructor_wrap">
										<div class="instructor_thumb">
											<a href="#"><img src="/assets/emma.jpg" class="img-fluid" alt=""></a>
										</div>
										<div class="instructor_caption">
											<h4><a href="#">Emmanuella</a></h4>
											<span>Sales Officer</span>
											<ul>
												<li><a href="#" class="cl-fb"><i class="fab fa-facebook"></i></a></li>
												<li><a href="#" class="cl-twitter"><i class="fab fa-twitter"></i></a></li>
												<li><a href="#" class="cl-linked"><i class="fab fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

								<!-- Single Slide -->
								<div class="singles_items">
									<div class="instructor_wrap">
										<div class="instructor_thumb">
											<a href="#"><img src="/assets/kees.jpg" alt="Image" class="img-fluid"></a>
										</div>
										<div class="instructor_caption">
											<h4><a href="#">Kees</a></h4>
											<span>IT Officer</span>
											<ul>
												<li><a href="#" class="cl-fb"><i class="fab fa-facebook"></i></a></li>
												<li><a href="#" class="cl-twitter"><i class="fab fa-twitter"></i></a></li>
												<li><a href="#" class="cl-linked"><i class="fab fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

								<!-- Single Slide -->
								<div class="singles_items">
									<div class="instructor_wrap">
										<div class="instructor_thumb">
											<a href="#"><img src="/assets/nana.jpg" class="img-fluid" alt=""></a>
										</div>
										<div class="instructor_caption">
											<h4><a href="#">Nadine</a></h4>
											<span>Developer</span>
											<ul>
                        <li><a href="#" class="cl-fb"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" class="cl-twitter"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" class="cl-linked"><i class="fab fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

								<!-- Single Slide -->
								<div class="singles_items">
									<div class="instructor_wrap">
										<div class="instructor_thumb">
											<a href="#"><img src="/assets/amina.jpg" alt="Image" class="img-fluid"></a>
										</div>
										<div class="instructor_caption">
											<h4><a href="#">Amina</a></h4>
											<span>Developer</span>
											<ul>
											<li><a href="#" class="cl-fb"><i class="fab fa-facebook"></i></a></li>
											<li><a href="#" class="cl-twitter"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#" class="cl-linked"><i class="fab fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Single Slide -->
								<div class="singles_items">
									<div class="instructor_wrap">
										<div class="instructor_thumb">
											<a href="#"><img src="/assets/benie.jpg" class="img-fluid" alt=""></a>
										</div>
										<div class="instructor_caption">
											<h4><a href="#">Ange Benie</a></h4>
											<span>Developer</span>
											<ul>
											<li><a href="#" class="cl-fb"><i class="fab fa-facebook"></i></a></li>
											<li><a href="#" class="cl-twitter"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#" class="cl-linked"><i class="fab fa-linkedin"></i></a></li>
											</ul>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>

				</div>
	  </section>
	  	<script src="../assets/js/jquery.min.js"></script>
		<script src="../assets/js/popper.min.js"></script>
		<script src="../assets/js/bootstrap.min.js"></script>
		<script src="../assets/js/select2.min.js"></script>
		<script src="../assets/js/slick.js"></script>
		<script src="../assets/js/jquery.counterup.min.js"></script>
		<script src="../assets/js/counterup.min.js"></script>
		<script src="../assets/js/custom.js"></script>
	  </body>
	  </html>