<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/assets/bg_1.jpg')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">About Us</h2>
              <p>We're dedicated to giving you the very best services, with a focus on dependability, customer service and uniqueness.</p>
            </div>
          </div>
        </div>
      </div> 
    

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <a href="#">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">About Us</span>
      </div>
    </div>

    <div class="container pt-5 mb-5">
            <div class="row">
              <div class="col-lg-4">
                <h2 class="section-title-underline">
                  <span>HealthEdu History</span>
                </h2>
              </div>
              <div class="col-lg-4">
                <p>HealthEdu was established on 12th October 2017 in Rwanda, the creation was a reason
                to provide health professionals with quality continuous professional development and
                breaking the geographic barrier in allowing health professionals to access education
                contents of CPD.
                </p>
              </div>
              <div class="col-lg-4">
                <p>It started with an office at Kimironko KG147 Street (Acts of Gratitude), has shifted to
                Impact Hub Kiyovu, Telecom House and now we are based in Westewelle Startup Haus at
                Kimihurura KG 622 Street Kigali.</p>
              </div>
            </div>
          </div> -->

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <img src="/assets/bosi.jpg" alt="Image" class="img-fluid"> 
                </div>
                <div class="col-lg-5 ml-auto align-self-center">
                    <h2 class="section-title-underline mb-5">
                        <span>CHIEF EXECUTIVE OFFICER &amp; FOUNDER</span>
                    </h2>
                    <p>Jean Damascene BIGIRIMANA is a passionate healthcare provider with Bachelor’s Degree
                    in Physical Therapy, He is a public Health Practitioner (Current Program) and is a
                    researcher with interest in Information communication and technology. He started an
                    Entrepreneur life in 2011 when he created GDA Sabri Entreprise and 2013 when he
                    created Pamelise Ltd, and HealthEdu in 2017. </p>
                    <p>He has undergone through different
                    incubation programmes: Acts of gratitudes, 250Startups and Westerwelle startup haus.</p>
                </div>
            </div>

            <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                        <img src="/assets/course_5.jpg" alt="Image" class="img-fluid"> 
                    </div>
                    <div class="col-lg-5 mr-auto align-self-center order-2 order-lg-1">
                        <h2 class="section-title-underline mb-5">
                            <span>Our Services</span> 
                        </h2>
                        <p>Our services are categorized in basically 3 types: Offsite CPD Courses organized in the applicant’s organized venue,</p>
                        <p>Offsite CPD Courses organized in our trainings locations, Online CPD Courses, We offer education materials for free regarding research reports and health
                        guidelines and policies for easy retrieval.</p>
                    </div>
                </div>
        </div>
    </div>

    <div class="section-bg style-1" style="background-image: url('/assets/hero_1.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-mortarboard"></span>
              <h3>Trusted Course</h3>
              <p>Courses delivered by HealthEdu are to be trusted, they are prepared by Experienced
              Health Professionals, they build them basing on the academic guidelines for teaching and
              professional experience. In addition to that; our courses are accredited by competent
              regulatory bodies in the country. They facilitate gaining knowledge and equipped by an
              evaluation which enables a certificate on successful completion with 80% and above mark..</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-school-material"></span>
              <h3>Tools for Professionals</h3>
              <p>With the current platform, we deliver as our contribution to healthcare in general in
              Countries, we deliver different treatment and prevention guidelines. We equip health
              professionals with research reports in different health categories.</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
              <span class="icon flaticon-library"></span>
              <h3>Certificate</h3>
              <p>Our web application delivers certificates to successful applicants who score 80% and
              above in evaluation from different CPD Courses Online. They are delivered automatically in
              the applicant’s e-mail after submission of evaluation.</p>
            </div>
          </div>
        </div>
      </div>
      

    <div class="site-section">
      <div class="container">
        <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-4 mb-5">
            <h2 class="section-title-underline mb-5">
              <span>Meet With Our Team</span>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">

            <div class="feature-1 border person text-center">
                <img src="/assets/kees.jpg" alt="Image" class="img-fluid">
              <div class="feature-1-content">
                <h2>Kees Irikumwenatwe</h2>
                <span class="position mb-3 d-block">IT Officer</span>    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
            <div class="feature-1 border person text-center">
                <img src="/assets/emma.jpg" alt="Image" class="img-fluid">
              <div class="feature-1-content">
                <h2>Emmanuella Uwandamiye</h2>
                <span class="position mb-3 d-block">Sales Officer</span>    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
            <div class="feature-1 border person text-center">
                <img src="/assets/agnes.jpg" alt="Image" class="img-fluid">
              <div class="feature-1-content">
                <h2>Agnes Kubwimana</h2>
                <span class="position mb-3 d-block">Chief Operations Officer (COO)</span>    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">

            <div class="feature-1 border person text-center">
                <img src="/assets/amina.jpg" alt="Image" class="img-fluid">
              <div class="feature-1-content">
                <h2>Amina Uzayisenga</h2>
                <span class="position mb-3 d-block">Developer</span>    
                <p>A strong lady understands that the gifts such as logic, decisiveness, analysis, and strength are just as Developer as intuition and emotional connection. She values and uses all of her gifts. That's me</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
            <div class="feature-1 border person text-center">
                <img src="/assets/benie1.jpg" alt="Image" class="img-fluid">
              <div class="feature-1-content">
                <h2>Ange Benie Dusabe</h2>
                <span class="position mb-3 d-block">Developer</span>    
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-lg-5">
            <div class="feature-1 border person text-center">
                <img src="/assets/nana.jpg" alt="Image" class="img-fluid">
              <div class="feature-1-content">
                <h2>Nadine Uwingabiye</h2>
                <span class="position mb-3 d-block">Developer</span>    
                <p>First, solve the problem. Then, write the code,so learn because knowledge is power.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    
    


    

    
    <div class="site-section ftco-subscribe-1" style="background-image: url('/assets/bg_1.jpg')">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <h2>Subscribe to us!</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,</p>
          </div>
          <div class="col-lg-5">
            <form action="" class="d-flex">
              <input type="text" class="rounded form-control mr-2 py-3" placeholder="Enter your email">
              <button class="btn btn-primary rounded py-3 px-4" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div> 
