<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="image-cover half_banner" style="background:#0b2248 url(../assets/cvd.jpg) no-repeat;">
				<div class="container">
					<!-- Type -->
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12" style="opacity:.7;">
							<div class="banner-search-2">
								<h1 class="cl_2 mb-0">Covid-19</h1>
								<p>The COVID-19 pandemic period has been paralleled by information overload described by the WHO as an “infodemic”. A big chunk of this information has been unreliable and false, coming from self-appointed experts and quickly shared through various online platforms. This can lead to panic and misinformed decisions that can counter the efforts being made to eradicate COVID-19. Lack of reliable information can also limit public involvement and their role in creating innovative solutions.</p>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
			<!-- ============================ Trips Facts Start ================================== -->
			<div class="trips_wrap full">
				<div class="container">
					<div class="sec-heading center" style="margin-top:10px;">
								<h5><span class="theme-cl">Trusted</span> by our professional partners</h5>
							</div>
					<div class="row m-0">
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="trips none">

								<div class="trips_detail img-fluid">

									<a href="https://www.nrf.ac.za/"><img src="../assets/NRF.png" class="img-fluid img-responsive" alt="" /></a>
								</div>
							</div>
						</div>

					
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="trips">
								<div class="trips_detail">

									<a href="https://ur.ac.rw/"><img src="../assets/768px-University_of_Rwanda_-_LOGO_B_RV.png" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="trips">

								<div class="trips_detail">
									<a href="http://www.mhc.gov.rw/index.php?id=2"><img src="../assets/highcouncil.png" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12">
							<div class="trips none">

								<div class="trips_detail img-fluid">

									<a href="https://www.healtheducat.rw/"><img src="../assets/health.png" class="img-fluid img-responsive" alt="" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Trips Facts Start ================================== -->
				<section>
				<div class="container">

					<div class="row align-items-center">

						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="custom-tab customize-tab tabs_creative">
								<ul class="nav nav-tabs pb-2 b-0" id="myTab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="project-description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Project Description</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="aim-tab" data-toggle="tab" href="#aim" role="tab" aria-controls="aim" aria-selected="false">Our aim</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="activities-tab" data-toggle="tab" href="#activities" role="tab" aria-controls="activities" aria-selected="false">Activities</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="audience-tab" data-toggle="tab" href="#audience" role="tab" aria-controls="audience" aria-selected="false">Intended Audience</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="false">Team members</a>
									</li>
								</ul>
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="project-description-tab">
										<p><h6>Rationale</h6>

										The COVID-19 pandemic period has been paralleled by information overload described by the WHO as an “infodemic”. A big chunk of this information has been unreliable and false, coming from self-appointed experts and quickly shared through various online platforms. This can lead to panic and misinformed decisions that can counter the efforts being made to eradicate COVID-19. Lack of reliable information can also limit public involvement and their role in creating innovative solutions. HealthEdu LTD (henceforth referred to as HeathEdu) comprises PhD level Scientists, Clinician/Scientists, Public health specialists, ICT experts and qualified passionate science journalists. Our responsibility as science communicators will be to identify and then report on research studies that are sufficiently noteworthy based on well established measures of rigor and reproducibility, and that satisfy one of the following criteria: a) discovery of a mechanism(s) of disease causation; b) epidemiological assessment of disease prevalence; c) identification and/or assessment of a potential treatment, vaccine, medical device, or a novel diagnostic procedure; and d) innovative biomedical, technological, or epidemiological approaches that can be feasibly applied to diagnose, monitor prevalence, or directly tackle the COVI-19 pandemic.
										<h6>Media of communication to be used </h6>
										<div class="col-lg-12 col-md-12">
											<ul class="lists lists-1">
												<li>HealthEdu’s weekly digest and FAQs corner will be put on an existing online knowledge-based platform. Simplified English and Swahili which can be understood by most East Africans, will be used. Our mass media partners will help to create awareness about this knowledge platform.</li>
												<li>To achieve bigger coverage, live radio and television interviews in Kinyarwanda, English and Swahili will be organized covering credible experts and time will be given to the listeners or viewers to call in with questions addressing different concerns about COVID-19. Our RBA partner hosts the national television and radio of Rwanda which also broadcast via DST and Canal+ that are able to reach both local, regional and international audiences. We will also organize interviews of experts via TNT and the East African.</li>
												<li>HealthEdu will organize online workshops, video trainings and networking sessions in English. Depending on governmental guidelines and with all safety measures observed, offline interactions between Scientists, other health professionals and journalists will also be organized.</li>
											</ul>
										</div>
										<h6>Gender and diversity will be considerations in the implementation of proposed topics and reporting</h6>
										<div class="col-lg-12 col-md-12">
											<ul class="lists lists-1">
												<li>The Principal Investigator is a female Clinician/Scientist. She will be responsible for the management, conduct, and reporting of the research project and for managing, monitoring, and ensuring the integrity of any collaborative relationships.</li>
												<li>Contributing members of HealthEdu include female Medical doctors, Scientists and Journalists who will be contributors in the three aims of this project.</li>
												<li>HealthEdu will seek to promote more diversity in seeking future partners in the implementation and reporting of this project.</li>
											</ul>
										</div>


									</div>
									<div class="tab-pane fade" id="aim" role="tabpanel" aria-labelledby="aim-tab">
										<div class="col-lg-12 col-md-12">
											<ul class="lists lists-1">
												<li>HealthEdu, will use it's an existing online platform to provide reliable COVID-19-related facts through a weekly Knowledge digest. We will also set up a frequently asked questions (FAQS) and answers on COVID corner which will be updated monthly according to knowledge updates and the questions of our audience. HealthEdu experts will take turns in researching relevant factual information, digesting it and summarizing it in a way that is understandable to the layman.</li>
												<li>Engage the public, especially hard-to-reach communities, through live radio and television interviews covering inspiring public health specialists, scientists, researchers activists and other relevant experts; where the public will have opportunities to call in and ask questions. This will be done  through our local partners: Rwanda broadcasting agency (RBA), hosting the national television and radio and is found on world famous DSTV and Canal+; The New Times Rwanda (TNT), a famous local news paper as well as the East African, a well known regional newspaper (partnership under negotiation).
												</li>
												<li>Due to the race to find a cure, a lot of articles are published without being peer-reviewed and some have to be retracted within days of being published. These erroneous articles could be read and relayed to the public by science journalists and other communicators before the journal publishers retract them. HealthEdu will build an online collaborative platform where scientists, medical doctors, public health and ICT experts can help to verify information that may be shared with the public by journalists. The journalists (TNT, RBA and the East African) will also provide insights to HealthEdu members on how to better communicate their knowledge to the layman.
												</li>
											</ul>
										</div>
									</div>
									<div class="tab-pane fade" id="activities" role="tabpanel" aria-labelledby="activities-tab">
										<div class="col-lg-12 col-md-12">
											<ul class="lists lists-1">
												<li>Students enrollments</li>
												<li>Journalist training (Health-care Reports and accreditation)</li>
												<li>Health profession training</li>
												<li>Mass Media Communication</li>
											</ul>
										</div>
									</div>
									<div class="tab-pane fade" id="audience" role="tabpanel" aria-labelledby="audience-tab">
										<ul class="lists lists-1">
												<li> the intended audience are the interested people of the East African region. In a pandemic crisis people tend to be more curious and to look for information in order to protect themselves therefore this platform will support this need and we expect a large and growing audience.
												</li>
												<li>The East African public including hard-to-reach communities that may not have quality internet or other resources to seek information from the online knowledge output. This aim will give them an opportunity to engage with different specialists and acquire important and reliable information about the COVI-19 pandemic.
												</li>
												<li>HealthEdu professionals (Scientists, Medical doctors, Public health specialists and ICT experts) and journalists of RBA, TNT and the East African will interact in order to improve science communication.</li>
											</ul>
									</div>
									<div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
											<section>
												<div class="container">
													<div class="row">
														<!-- Single Article -->
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="articles_grid_style">
																<div class="articles_grid_thumb">
																	<a href="blog-detail.html"><img src="assets/img/Dr. Daisy Umutoni.jpeg"  alt="" /></a>
																</div>

																<div class="articles_grid_caption">
																	<h3 class="text-center">Dr. Daisy UMUTONI, PhD</h3>
																	<h6 class="text-center">Principal Investigator (PI)</h6>
																	<div class="articles_grid_author">
																		<span>A medical doctor and recent graduate in the area of cellular and molecular biology with a PhD award. This has led to a desire to bring the two fields together in future such as helping to improve clinical diagnoses through molecular testing techniques and translational research. She is passionate in playing a role in teaching and developing scientific research to improve health care. Hardworking, focused and committed to learning and improving her skills to become a quality contributor.</span>
																	</div>
																</div>
															</div>
														</div>
														<!-- Single Article -->
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="articles_grid_style">
																<div class="articles_grid_thumb">
																	<a href="blog-detail.html"><img src="assets/img/Jean Damascene Passport.png" class="img-fluid" alt="" /></a>
																</div>

																<div class="articles_grid_caption">
																	<h3 class="text-center">Mr. Jean Damascene BIGIRIMANA, PT, MPH</h3>
																	<h6 class="text-center">Co-Principal Investigator (Co-PI)</h6>
																	<div class="articles_grid_author">
																		<span>A Public Health Practitioner currently completing his Master’s Degree Program in the University of Rwanda, currently, Jean Damascene is serving as the Chief Executive Officer of HealthEdu Ltd, He is registered as a Physical Therapy Practitioner, researcher and working with community. He is good in group work and skilled in organizing education events onsite and online. He is a personal trainer in Physical Activity related treatment against Non- Communicable diseases. </span>
																	</div>
																</div>
															</div>
														</div>
														<!-- Single Article -->
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="articles_grid_style">
																<div class="articles_grid_thumb">
																	<a href="blog-detail.html"><img src="assets/img/Dr Calliope.jpg" class="img-fluid" alt="" /></a>
																</div>
																<div class="articles_grid_caption">
																	<h3 class="text-center">Dr. Akintije Simba Calliope</h3>
																	<h6 class="text-center">Member</h6>
																	<div class="articles_grid_author">
																		<span>A medical Doctor holding a PhD in a program for Nurturing Global Leaders in Tropical and Emerging Communicable Diseases, Graduate School of Biomedical Sciences, Institute of Tropical Medicine of Nagasaki. He is currently working as a Project Manager for Africa and SouthEast Asia for Kishokai Medical Corporation, a hospital chain based in Aichi, Nagoya, Japan. Dr Simba Calliope has worked as the Director General of Mibirizi District Hospital in a rural area of the western province of Rwanda. </span>
																	</div>
																</div>
															</div>
														</div>
															<!-- Single Article -->
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="articles_grid_style">
																<div class="articles_grid_thumb">
																	<a href="blog-detail.html"><img src="assets/img/Ntare Alex.jpeg" class="img-fluid" alt="" /></a>
																</div>

																<div class="articles_grid_caption">
																	<h3 class="text-center">NTARE ALEX</h3>
																	<h6 class="text-center">Member</h6>
																	<div class="articles_grid_author">
																		<span>Chief Executive Officer of the Rwanda ICT Chamber and some of his responsibilities include bridging the gap between private and public sector players in the ICT industry as well as overseeing and establishing new innovation centres for technology startups among them KLAB, Fablab Rwanda and a new Applied Research Labs.</span>
																	</div>
																</div>
															</div>
														</div>

														<!-- Single Article -->
														<div class="col-lg-4 col-md-4 col-sm-12">
															<div class="articles_grid_style">
																<div class="articles_grid_thumb">
																	<a href="blog-detail.html"><img src="assets/img/Samuel Imanishimwe.jpg" class="img-fluid" alt="" /></a>
																</div>

																<div class="articles_grid_caption">
																	<h3 class="text-center">Samuel Imanishimwe</h3>
																	<h6 class="text-center">Member</h6>
																	<div class="articles_grid_author">
																		<span>Samuel Manishimwe, a Rwandan of nationality with skills in Communication has worked in the Rwandan Embassy in Japan. Passionate in coordination activities matching businesses in Rwanda and Japanese Companies. He is a good fit in the project at hand especially with his devoted organization and partnership skills. </span>
																	</div>
																</div>
															</div>
														</div>


													</div>
												</div>
											</section>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>