<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>HealthEdu</title>
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/jpg" href="assets/img/logoo.jpg">

        <!-- Custom CSS -->
        <link href="../assets/styles.css" rel="stylesheet">

		<!-- Custom Color Option -->
		<link href="../assets/colors.css" rel="stylesheet">
		<!-- Custom lightbox -->
		<link href="../assets/lightbox.css" rel="stylesheet">

    </head>

    <body class="red-skin">


			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ============================ Page Title Start================================== -->
			<section class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">

							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title">Our Gallery</h1>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="#">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Gallery</li>
									</ol>
								</nav>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->


			<!-- ============================ Full Width Courses  ================================== -->
			<section class="pt-0">
				<div class="container">


					<!-- Row -->
					<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="row thumb">
								<!-- img 1 -->
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/course.jpg" data-lightbox="gallery" data-title="Image title"><img src="../assets/course.jpg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<!-- img 1 -->
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/ngamba1.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/ngamba1.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<!-- img 1 -->
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/developer.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/developer.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<!-- img 1 -->
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/ngamba.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/ngamba.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<!-- img 1 -->
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/study1.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/study1.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/garelly19.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/garelly19.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/garelly14.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/garelly14.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/garelly8.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/garelly8.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/garelly18.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/garelly18.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/garelly11.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/garelly11.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/garelly9.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/garelly9.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/garelly12.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/garelly12.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid1.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid1.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<!-- img 1 -->
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid2.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid2.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<!-- img 1 -->
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid3.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid3.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<!-- img 1 -->
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid4.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid4.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<!-- img 1 -->
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid5.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid5.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid1.png" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid1.png" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid6.jpg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid6.jpg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid7.jpg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid7.jpg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid10.jpg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid10.jpg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid11.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid11.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid12.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid12.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid13.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid13.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid14.jpg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid14.jpg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid15.jpg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid15.jpg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid16.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid16.jpg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid17.jpeg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid17.jpeg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid8.jpg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid8.jpg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="education_block_grid style_2">
										<div class="education_block_thumb n-shadow">
											<a href="../assets/covid9.jpg" data-lightbox="gallery" data-title="Image title"><img src="../assets/covid9.jpg" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
							</div>


							<!-- /Row -->

						</div>

					</div>
					<!-- Row -->

				</div>
			</section>

			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
						<div class="modal-body">
							<h4 class="modal-header-title"><img src="../assets/green-logo.jpg" class="logo img-responsive" alt="" /></h4>
							<div class="login-form">
								<form>

									<div class="form-group">
										<label>User Name</label>
										<input type="text" class="form-control" placeholder="Username">
									</div>

									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="*******">
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-md btn-info full-width pop-login bg-green">Login</button>
									</div>

								</form>
							</div>

							<div class="social-login mb-3">
								<ul>
									<li>
										<input id="reg" class="checkbox-custom" name="reg" type="checkbox">
										<label for="reg" class="checkbox-custom-label">Save Password</label>
									</li>
									<li><a href="recover-password.html" class="theme-cl">Forget Password?</a></li>
								</ul>
							</div>

							<div class="text-center">
								<p class="mt-2">Havent Any Account? <a href="register.html" class="link">Click here</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->



		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="../assets/jquery.min.js"></script>
		<script src="../assets/popper.min.js"></script>
		<script src="../assets/bootstrap.min.js"></script>
		<script src="../assets/select2.min.js"></script>
		<script src="../assets/slick.js"></script>
		<script src="../assets/jquery.counterup.min.js"></script>
		<script src="../assets/counterup.min.js"></script>
		<script src="../assets/custom.js"></script>
		<script src="../assets/lightbox.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->

	</body>
</html>






