<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/assets/bg_1.jpg')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">Help</h2>
              <p>Welcome To HealthEdu Support</p>
            </div>
          </div>
        </div>
      </div>


    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <%= link_to "Home", homepage_index_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Help</span>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="embed-responsive embed-responsive-16by9"></br>
                <%= video_tag "help.mp4", :controls => true, class:"embed-responsive-item"%>
              </div>
                </div>
                <div class="col-lg-5 ml-auto align-self-center">
                    <h2 class="section-title-underline mb-5">
                        <span>How do I start to learn HealthEdu courses?</span>
                    </h2>
                    <p>Start studying at HealthEdu login with your account if you do not have an account do the registration and click all courses on the above link.</p>
                    <p>Select the subject you want to study, click on the request course, see the course you started the request by clicking on my course
                    pay and start studying and get a certificate from the email you provided in simply follow bellow steps:</p>

                    <ol class="ul-check primary list-unstyled">
                        <li>Login with your account</li>
                        <li>Click on <b>All Course</b> to select your favorite courses </li>
                        <li>Click on <b>Request</b> Button </li>
                        <li>View your favorte through <b>My Course</b> buttons</li>
                        <li>Pays for tuition and starts studying</li>
                        <li>If you don’t get the details go watch the video or call us on the contact you found above</li>
                    </ol>

                </div>
            </div>


                    <div class="col-lg-5 mr-auto align-self-center order-lg-1">
                        <h2 class="section-title-underline mb-5">
                            <span>How can I pay for my favorite lesson?</span>
                        </h2>

    </div>

<section class="padding-y-80">
  <div class="container">
  <div class="row">
  <div class="col-sm-4">
  <center><h4>Which bank should I pay for?</h4></center>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
        <img src="/assets/images1.jpeg" alt="Avatar" style="width:300px;height:200px;">
        </div>
        <div class="flip-card-back">
          <h1>Bank of Kigali</h1>
          <p>Account: 00262-06949899-22</p>
          <p>Name:HealthEdu Ltd </p>
          <p>Name:You have requested a CPD course, Please make payment on <i class="fa fa-hand-o-up" ></i>  or Pay <i class="fa fa-hand-o-right" aria-hidden="true"></i> </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  <center><h4>Can I pay you via MTN?</h4></center>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="/assets/images2.jpeg" alt="Avatar" style="width:300px;height:200px;">
        </div>
        <div class="flip-card-back">
          <h1>MTN Mobile</h1>
          <p>Number: 0788848750</p>
          <p>Names: Uwandamiye Emmanuella</p>
          <p>You have requested a CPD course, Please make payment on <i class="fa fa-hand-o-up" ></i>  or Pay <i class="fa fa-hand-o-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </div><div class="col-sm-4">
  <center><h4>Can I pay you via TIGO</h4></center>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
      <img src="/assets/images3.jpeg" alt="Avatar" style="width:300px;height:200px;">
      </div>
      <div class="flip-card-back">
        <h1> AIRTEL Money</h1>
        <p>Account: 0730300074</p>
        <p>Name:Jean Damascene BIGIRIMANA</p>
        <p>You have requested a CPD course or <i class="fa fa-hand-o-right" aria-hidden="true"></i></p>
      </div>
    </div>
  </div>
</div>
<section class="padding-y-100 bg-light-v2">
  <div class="container">

   <div class="row">
     <div class="col-lg-6 m-auto text-center">
       <h2 class="h1">
         Frequently Asked Questions
       </h2>
      <hr class="hr1">
       <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
     </div>

   	 <div class="col-12 mt-4">
          <div id="accordion-7" class="accordion-style-7 bg-white shadow-v1">

            <div class="accordion-item border-bottom border-light">
             <a href="https://www.healtheducat.com/lean/faq#acc7_1" class="accordion__title h6 mb-0 py-3 px-4" data-toggle="collapse" aria-expanded="true">
               <span class="accordion__icon small mr-2 mt-1">
                <i class="ti-angle-down"></i>
                <i class="ti-angle-up"></i>
              </span>
              What Professions do we service with online courses?
             </a>
              <div id="acc7_1" class="shadow p-3 mb-5 bg-white rounded" data-parent="#accordion-7">
                <div class="px-4">
                   <p>
                   We have courses for Nurses and Midwives, Biomedical Laboratory Practitioners, Clinical Psychologists, Physical
                   Therapists, Medical Practitioners, Pharmacists, Dental Therapists, Biomedical Engineers, Medical
                   Imaging Officers, optometrists, Social Workers, Public Health Practitioners, Occupational Therapists, Surgeons, Nutritionists and others.
                   </p>
                </div>
              </div>


</div> <!-- END accordion-item-->


   </div> <!-- END row-->

  </div> <!-- END container-->
</section> <!-- END section-->
		<div class="row">

			<div class="col-md-6">
				<div class="mb-5">
					<h4 class="mb-3">
           Why do I have to do CPD Courses?
					</h4>
					<p>
          You have to do CPD Courses to be able to increase your knowledge in different areas; these will be in your
           professional category or in other areas. These courses are developed by specialist in different areas and can build your CV as long as you learn.
           This will increase the quality of services you deliver as you will be increasing your skills continuously.
					</p>
				</div>
				<h4 class="mb-3">
        Who develop these courses?
				</h4>
				<p>
        These courses are developed by passionate health specialists in Rwanda, the region and internationally,
        these specialists are contacted and are asked to sign an MOU with the organization to be able to make courses
         and help fellow health practitioners in Rwanda or outside. These professionals have both academic and clinical experience.
         We have also some course facilitators from different developed countries like UK, USA, Australia etc….
				</p>
			</div> <!-- END col-md-6 -->
			<div class="col-md-6">
				<div class="mb-5">
					<h4 class="mb-3">
          Who accredits your Courses?
					</h4>
					<p>
          These courses are accredited by regulatory bodies in Rwanda, given the mandate to protect the public and improve regulation, they check if the content
           is well developed, they make sure the facilitators are highly qualified or are specialist in a certain field before the accreditation.
					</p>
				</div>
				<h4 class="mb-3">
        Can I do courses and pay later?
				</h4>
				<p>
        Sure, you can learn and enjoy the trainings and pay a small fee later or after you have done the courses, you register to the platform and get a free course.
        After testing you request for others which you can pay later after learning if you want. We are targeting increasing knowledge first
				</p>
			</div> <!-- END col-md-6 -->
		</div> <!-- END row-->
	</div> <!-- END container-->
</section> <!-- END -->
</div>
