<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>HealthEdu</title>

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/jpg" href="assets/logoo.jpg">

        <!-- Custom CSS -->
        <link href="assets/styles.css" rel="stylesheet">
		<!-- Custom Color Option -->
		<link href="./assets/colors.css" rel="stylesheet">
		<link href="./assets/animation.css" rel="stylesheet">
		<link href="./assets/bootstrap.min.css" rel="stylesheet">
		<link href="./assets/date-picker.css" rel="stylesheet">
		<link href="./assets/dropzone.css" rel="stylesheet">
		<link href="./assets/flaticon.css" rel="stylesheet">
		<link href="./assets/font-awesome.css" rel="stylesheet">
		<link href="./assets/iconfont.css" rel="stylesheet">
		<link href="./assets/ion.rangeSlider.min.css" rel="stylesheet">
		<link href="./assets/light-box.css" rel="stylesheet">
		<link href="./assets/line-icons.css" rel="stylesheet">
		<link href="./assets/magnifypopup.css" rel="stylesheet">
		<link href="./assets/morris.css" rel="stylesheet">
		<link href="./assets/select2.css" rel="stylesheet">
		<link href="./assets/slick.css" rel="stylesheet">
		<link href="./assets/slick-theme.css" rel="stylesheet">
		<link href="./assets/themify.css" rel="stylesheet">
    </head>

<body class="red-skin">
<section class="bg-light">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-5 col-md-6 col-sm-12">
							<div class="sec-heading center">
								<h3>Our Payment method</h3>
								<p>How can I pay for my favorite lesson?</p>
								<p>Sure, you can learn and enjoy the trainings and pay a small fee later or after you have done the courses, you register to the platform and get a free course. After testing you request for others which you can pay later after learning if you want. We are targeting increasing knowledge first</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">

							<div class="four_slide-dots">
								<!-- Single Slide -->
								<div class="singles_items">
									<div class="instructor_wrap">
										<div class="instructor_thumb">
											<a  href="../assets/bk.png" data-lightbox="gallery"><img src="../assets/bk.png" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<!-- Single Slide -->
								<div class="singles_items">
									<div class="instructor_wrap">
										<div class="instructor_thumb">
											<a href="../assets/mtnRwanda.png" data-lightbox="gallery"><img src="../assets/momomtn.png" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>

								<!-- Single Slide -->
								<div class="singles_items">
									<div class="instructor_wrap">
										<div class="instructor_thumb">
											<a href="#"><img src="../assets/airtelmoney.png" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>
								<!-- Single Slide -->
								<div class="singles_items">
									<div class="instructor_wrap">
										<div class="instructor_thumb">
											<a href="#"><img src="../assets/tigocashs.png" class="img-fluid" alt=""></a>
										</div>
									</div>
								</div>

								<!-- Single Slide -->

							</div>

						</div>
					</div>

				</div>
            </section>
        	<script src="../assets/js/jquery.min.js"></script>
            <script src="../assets/js/popper.min.js"></script>
            <script src="../assets/js/bootstrap.min.js"></script>
            <script src="../assets/js/select2.min.js"></script>
            <script src="../assets/js/slick.js"></script>
            <script src="../assets/js/jquery.counterup.min.js"></script>
            <script src="../assets/js/counterup.min.js"></script>
            <script src="../assets/js/custom.js"></script>
            </body>
            </html>
