<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/assets/bg_1.jpg')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">How To Create Exam and certificate</h2>
              <p>Read bellow instraction and follow step by step.</p>
            </div>
          </div>
        </div>
      </div> 
    

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <%= link_to "Home", homepage_index_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <%= link_to "Courses", courses_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Quizzes</span>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <p>
                    <%= image_tag("course_5.jpg", class:"img-fluid") %>
                    </p>
                </div>
                <div class="col-lg-5 ml-auto align-self-center">
                        <h2 class="section-title-underline mb-5">
                            <span>Exam Instraction</span>
                        </h2>
                        
                        <p><strong class="text-black d-block">Creater</strong> Must having Email Acount if not exist create Email on google <a href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp">Email</a></p>
                        <p class="mb-5"><strong class="text-black d-block">Hours:</strong> it is very easy and quick</p>
                        <p>as i said above creater must having Google email account to create quiz and assign right answer to different questions, Click the buttons bellow</p>
                        <p>creater create different types of multiple questions using checkbox when one question has many result and radio buttons when is one result to single question. required key: </p>
    
                        <ul class="ul-check primary list-unstyled mb-5">
                            <li>Remember to add the name of course</li>
                            <li>Give students the right of intering the names they want to be display to the certificate  </li>
                            <li>Add points to each question</li>
                            <li>Set pass points</li>
                            <li>Set send automatic certificate to all student pass </li>
                        </ul>

                        <p>
                            <a href="https://docs.google.com/forms/u/0/d/1Vkf5lQsdr5KmtpetLe7_zMFPhYKA6nn495CfUgfxR3E/edit" class="btn btn-primary rounded-0 btn-lg px-5">Crete Quiz</a>
                        </p>
    
                    </div>
            </div>
        </div>
    </div>

