<div class="custom-breadcrumns border-bottom">
      <div class="container">
        <%= link_to "Home", homepage_index_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <%= link_to "Courses", courses_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Module</span>
      </div>
    </div>

<div class="card" style='width:70%;margin:auto'>
<!-- Card content -->
<div class="card-body">
<div class="site-section">

                <div class="col-lg-12 ml-auto align-self-center">
                        <h2 class="section-title-underline mb-5">
                            <span><%= @credit.name %></span>
                        </h2>

                        <p><%= @credit.discription.html_safe %></p>





                    </div>

    </div>



</div>
</div><br><br>




