<div class="container">
<div style="background:whitesmoke;width:100%">
<div class="card p-5" style='width:70%;margin:auto'>
<!-- Card content -->
<div class="card-body">
<h3 class="card-title"><b>
<div class="container"></p><%= @credit.name %></h3></div>

<div class="card-body">
<h4 class="card-title">Credit Description</h4>
<p class="card-text"><%= @credit.discription %></p>

</div>
<p>
  <strong>Video:</strong>
  <video controls width="640" height="480" src="<%= @credit.video %>"></video>
</p>


<%= link_to 'Back', favorites_path %>
</div>
