// Place all the styles related to the homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a{
    text-decoration: none;
}
.home{
    margin: 15%;
    
}
.card-image{
    width: 50px;
}
.listt{
    padding: 1%;
}
.msg{
    background-color: green;
}
.hdr{
    color: white;
}
.card{
    width: 100%;
}