.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 50rem;
    padding-top: 10rem;
}

.bg-no-overlay {
    background: url("hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 50rem;
    padding-top: 10rem;
}
.card-image{
    width: 100%;
    height: 100%;
}
.favorite{
    background-color: mediumseagreen;
    width: 10rem;
}